<<<<<<< HEAD
body{
    background-image: url('https://images.unsplash.com/photo-1591968743883-decc954ccce8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h6{
    font-size: large;
}
a{
    text-decoration: none;
}
h2{
    text-align: left;
    font-size: 300%;
    padding-top: 10%;
  }
  #box{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 25px 100px 25px 100px;
    border-radius: 5px;
    margin-bottom: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color:blue;
    color: #fff;
    border: none;
    cursor: pointer;
=======
body{
    background-image: url('https://images.unsplash.com/photo-1591968743883-decc954ccce8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h6{
    font-size: large;
}
a{
    text-decoration: none;
}
h2{
    text-align: left;
    font-size: 300%;
    padding-top: 10%;
  }
  #box{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 25px 100px 25px 100px;
    border-radius: 5px;
    margin-bottom: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color:blue;
    color: #fff;
    border: none;
    cursor: pointer;
>>>>>>> dc945983866cecb4b11e9d71547c4edd8f5d7589
  }